Source: libtertiusqbit-webinterface-ownserver-perl
Section: perl
Priority: extra
Maintainer: Dmitry Lukiyanchuk <wtertius@gmail.com>
Build-Depends: debhelper (>= 8.0.0), perl, libtertiusqbit-perl, libtertiusqbit-webinterface-perl, libtertiusqbit-webinterface-perl, libmime-types-perl
Standards-Version: 3.9.4

Package: libtertiusqbit-webinterface-ownserver-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libtertiusqbit-perl, libtertiusqbit-webinterface-perl, libtertiusqbit-webinterface-perl, libmime-types-perl
Conflicts: libqbit-webinterface-ownserver-perl
Replaces: libqbit-webinterface-ownserver-perl
Description: WebInterface with own HTTP server.
